body{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headers{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color:rgb(255, 255, 255);

}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 165px;
    padding: 25px 0px;
}

.header_container ul{
    display: flex;
    list-style: none;
    margin-left: 50%;
}

.header_container a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    color: #2D2F30;
    padding-right: 50px;
    text-transform: uppercase;
   
}

/*Hero container*/
.hero {
    background-color: #F9F8F9;
    height: 900px;
}

.hero_container{
    display: flex;
}
.hero_left{
    width: 50%;
    padding-left: 10%;
    margin-top: 50px;

}

.left_top h1{
    font-size: 95px;
    font-weight: 700;
    color: #094B72;
}
.left_top p {
    font-size: 24px;
    font-weight: 500;
    color: #4F4F4F;
    padding-bottom: 30px;
   
}
.left_top a{
    
    padding: 22px 40px;
    font-weight: 500;
    color: white;
    
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #094B72;

}

/*left bottom*/
.left_bottom{
    margin-top: 100px;
}
.left_bottom p{
    color: #8B8C8C;
    font-size: 22px;
    font-weight: 400;
}
.left_bottom img{
    width: 84px;
    height: 28px;
    padding-right: 50px;
}
.left_bottom_img{
    padding-top: 30px;
}

/*hero right*/
.hero_right {

     transform:translateX(-90px);   
}
.hero_right img{
    width: 550px;
    
    transform: translateY(-70px);

}

/*Service section*/

.service{
    background-color: #F2FCFF;
    height: 720px;
}
.service_container{
    display: flex;
    margin: 0% 10%;
    padding: 50px 0px;
}
.service_left {
    width: 40%;
    padding-top: 70px;
    margin-left: 6%;
}
.service_heading{
    font-size: 48px;
    font-weight: 700;
    color: #1E1E1E;
}
.service_left p{
    font-size: 20px;
    font-weight: 400;
    color: #8B8C8C;
}
/*service right*/
.service_right{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
.service_card{
    width: 238px;
    height: 251px;
    background-color:white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.service_card img{
    width: 38px;
    height: 38px;
}
.service_card h3{
    font-size: 22px;
    font-weight: 700;
    color: #363940;
}
.service_card p{
    font-size: 14px;
    font-weight: 400;
    color: #8B8C8C;
}

/*achivement section*/
.achievement{
    width:100% ;
    height: 350px;
    background-image: url("img/Patterns.png");
    background-color: #1282A6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.achievement_container{
    margin-left: 25%;
    box-sizing: border-box;
    padding: 5% 0%;
}
.achiv_head{
    margin-left: 15%;
}
.achiv_head div{
    font-size: 48px;
    font-weight: 900;
    color: white;
}
.achiv_head p{
    font-size: 18pxx;
    font-weight: 400;
    color: white;
    margin-left: 3%;
}

.achive_historis{
    display: flex;
    text-align: center;
}
.achive_histori{
    width: 255px;
    height: 96px;
    border-right: 1px solid white;
}
.achive_histori div{
    font-size: 48px;
    font-weight: 800;
    color: white;
}
.achive_histori p{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

/*testimonial section*/
.testimonial {
    background-color: #F4FBFF;
}
.testimonial_content{
    text-align: center;
    padding: 60px 0px;
}

.testimonial_heading{
    font-size: 48px;
    font-weight: 700;
    color:#2D2F30 ;
}
.testimonial_cards{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.testimonail_card{
    width: 540px;
    height: 350px;

    margin-top: 50px;
}
.card_top {
    background-color: white;
    height: 60%;
    box-sizing: border-box;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

}
.card_top div{
   font-size: 23px;
   font-weight: 500;
   color: #18191F;
}
.card_top p{
    font-size: 18px;
    font-weight: 400;
    color: #4F4F4F;
}
.bottom_icon{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid yellow;
    
}
.ceo_detail {
    display: flex;
    margin-left: 30%;
    padding-top: 10%;
}
.ceo_detail img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.ceo_name{
    font-size: 20px;
    font-weight: 700;
    color: #151617;
}
.position_of_ceo{
    font-size: 16px;
    font-weight: 400px;
    color: #2D2F30;
}

/*complex section or service section*/
.complex{
  
    height: 380px;
}
.complex_container{
    display: flex;
    margin-left: 12%;

}
.complex_left{
    width: 80%;
    padding-top: 50px;
}
.complex_heading{
    font-size: 48px;
    font-weight: 700;
    color: #2D2F30;
}
.complex_left p{
    font-size: 24px;
    font-weight: 400;
    color: #4F4F4F;
    padding: 20px 0px;
}
.complex_left button {
    padding: 20px 50px;
    font-size: 18px;
    border: none;
    background-color: #0F6E8C;
    color: white;
}

.complex_right img{
    border-radius:0px 0px 0px 40px;
    box-sizing: border-box;
    height:380px ;
} 


/*Footer*/
.footer{
    background-color: #0F6E8C;
    width: 100%;
    max-height: 600px;
}

.footer_top_content{
    display: flex;
    justify-content: space-between;
    margin: 0% 12%;
    padding: 100px 0px;
}
th{
    font-size: 20px;
}
th,td{
    padding: 10px 40px;
    text-align: left;
    color: white;
}

/*footer bottom*/
.footer_bottom{
    padding: 40px;
    background-color: #05546D;
}
.footer_bottom_contant{
    display: flex;
    justify-content: space-between;
    margin: 0% 15%;
    color: white;
}
.footer_bottom_right i{
    margin-right: 16px;
}